body {
  margin: 0;
  font-family: 'Roboto', Arial, sans-serif;
  color: #333333; /* Темно-серый текст */
  line-height: 1.6;
  background-image: url('../images/map-background.jpg');
}

.App {
  text-align: center;
  padding: 0;
}

h1, h2, h3 {
  color: #ff9800; /* Оранжевый цвет заголовков */
  margin-bottom: 20px;
}

p {
  color: #555555; /* Средне-серый текст */
}

a {
  color: #ff9800; /* Оранжевый цвет ссылок */
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #ff5722; /* Темно-оранжевый при наведении */
  text-decoration: underline;
}

.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background: #ffffff; /* Белый фон для контейнеров */
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Легкая тень */
}

button {
  background-color: #ff9800; /* Оранжевый фон кнопки */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #ff5722; /* Темно-оранжевый при наведении */
  transform: scale(1.05); /* Легкое увеличение */
}

