.document-card {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 6px;
  color: inherit;
  margin: 8px;
  padding: 10px;
  text-align: center;
  background-color: rgb(237, 237, 237);
  transition: all .2s;
    box-shadow: 0 0px 12px rgba(0,0,0,.2);

}
.document-card:hover {
  box-shadow: 0 0px 12px rgba(0,0,0,.25);
  transform: scale(1.1);
  color: orange;
}
.doc-card-icon {
  margin-bottom: 8px;
}
.doc-card-img {
  max-width: 100%;
  max-height: 80px;
  object-fit: contain;
}
.doc-card-title {
  font-size: .9em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
